* {
    font-family: sans-serif;
    text-align: center;
}
table {
    display: inline-block;
    border: 1px solid gray;
    border-collapse: collapse;
    font-weight: bold;
    font-size: 20px;
}
td {
    border: 1px solid gray;
    padding: 12px;
}
select {
    font-size: 15px;
}
